# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# DB and local storage
db/processedCasts.json

# Optional OS files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Coverage / testing
coverage/
